# String Function Assignment

# 1

In [1]:
name = "Pritesh Dhole"

In [39]:
name

'Pritesh Dhole'

In [40]:
x=name.count(name)

In [41]:
x

1

In [42]:
name

'Pritesh Dhole'

In [43]:
count=name.count(name)

In [45]:
name

'Pritesh Dhole'

In [46]:
count

1


# 2

In [50]:
address = "wathoda Nagpur"
address

'wathoda Nagpur'

In [52]:
address.capitalize()

'Wathoda nagpur'

In [57]:
name = "pritesh Dhole"

In [58]:
capitalized_name=name.capitalize()

In [59]:
capitalized_name

'Pritesh dhole'

# 3

In [60]:
string="Hi Pritesh , How are You ?"

In [61]:
string

'Hi Pritesh , How are You ?'

In [73]:
new_string= string.center(20)

In [74]:
new_string

'Hi Pritesh , How are You ?'

In [76]:
new_string= string.center(40)

In [77]:
new_string

'       Hi Pritesh , How are You ?       '

In [80]:
new_string= string.center(60)
new_string

'                 Hi Pritesh , How are You ?                 '

# 4

In [81]:
string="Hi Pritesh , How are You ?"

In [82]:
string

'Hi Pritesh , How are You ?'

In [83]:
string.casefold()

'hi pritesh , how are you ?'

# 5

In [84]:
string="Hi Pritesh , How are You ?"

In [85]:
string

'Hi Pritesh , How are You ?'

In [86]:
x=string.endswith("are you")

In [87]:
x

False

In [97]:
x=string.endswith("are You ?")

In [98]:
x

True

# List Assignment

# 1

In [99]:
lst1 = [ 1,2,3,4,5, "pritesh","dhole",["Prakash","kasturi","suryodaya"],5.6,58.9,52.36]

In [100]:
lst1

[1,
 2,
 3,
 4,
 5,
 'pritesh',
 'dhole',
 ['Prakash', 'kasturi', 'suryodaya'],
 5.6,
 58.9,
 52.36]

In [104]:
name=lst1.copy()

In [105]:
name

[1,
 2,
 3,
 4,
 5,
 'pritesh',
 'dhole',
 ['Prakash', 'kasturi', 'suryodaya'],
 5.6,
 58.9,
 52.36]

# 2

In [106]:
lst1 = [ 1,2,3,4,5, "pritesh","dhole",["Prakash","kasturi","suryodaya"],5.6,58.9,52.36]

In [108]:
lst1

[1,
 2,
 3,
 4,
 5,
 'pritesh',
 'dhole',
 ['Prakash', 'kasturi', 'suryodaya'],
 5.6,
 58.9,
 52.36]

In [109]:
name=lst1.clear()

In [111]:
name

In [112]:
lst1

[]

In [113]:
lst1 = [ 1,2,3,4,5, "pritesh","dhole",["Prakash","kasturi","suryodaya"],5.6,58.9,52.36]

In [114]:
lst1

[1,
 2,
 3,
 4,
 5,
 'pritesh',
 'dhole',
 ['Prakash', 'kasturi', 'suryodaya'],
 5.6,
 58.9,
 52.36]

# 3

In [115]:
lst1 = [ 1,2,3,4,5, "pritesh","dhole",["Prakash","kasturi","suryodaya"],5.6,58.9,52.36]

In [116]:
lst1

[1,
 2,
 3,
 4,
 5,
 'pritesh',
 'dhole',
 ['Prakash', 'kasturi', 'suryodaya'],
 5.6,
 58.9,
 52.36]

In [126]:
count=lst1.count(lst1)

In [127]:
count

0

# 4

In [128]:
lst1 = [ 1,2,3,4,5, "pritesh","dhole",["Prakash","kasturi","suryodaya"],5.6,58.9,52.36]

In [129]:
lst1

[1,
 2,
 3,
 4,
 5,
 'pritesh',
 'dhole',
 ['Prakash', 'kasturi', 'suryodaya'],
 5.6,
 58.9,
 52.36]

In [133]:
lst1[5]

'pritesh'


# 5

In [136]:
lst1 = [ 1,2,3,4,5, "pritesh","dhole",["Prakash","kasturi","suryodaya"],5.6,58.9,52.36]

In [137]:
lst1

[1,
 2,
 3,
 4,
 5,
 'pritesh',
 'dhole',
 ['Prakash', 'kasturi', 'suryodaya'],
 5.6,
 58.9,
 52.36]

In [138]:
lst1.remove(52.36)

In [139]:
lst1

[1,
 2,
 3,
 4,
 5,
 'pritesh',
 'dhole',
 ['Prakash', 'kasturi', 'suryodaya'],
 5.6,
 58.9]

# TUPLES ASSIGNMENT

In [9]:
tup = ("WE", "LOVE", "YOU", "PRITESH","YOU","ARE","THE","BEST")

In [10]:
tup

('WE', 'LOVE', 'YOU', 'PRITESH', 'YOU', 'ARE', 'THE', 'BEST')

In [11]:
count= tup.count("YOU")

In [12]:
count

2

# DICTIONARY ASSIGNMENT

In [14]:
dit={'name':'Pritesh' , 'surname':'Dhole' , 'age':23, 'email':"priteshdhole123@gmail.com"}

In [15]:
dit

{'name': 'Pritesh',
 'surname': 'Dhole',
 'age': 23,
 'email': 'priteshdhole123@gmail.com'}

# 1

In [17]:
dit.copy()

{'name': 'Pritesh',
 'surname': 'Dhole',
 'age': 23,
 'email': 'priteshdhole123@gmail.com'}

# 2

In [19]:
dit.pop("age")

23

In [20]:
dit

{'name': 'Pritesh', 'surname': 'Dhole', 'email': 'priteshdhole123@gmail.com'}

# 3

In [23]:
dit.update({"age":23})

In [24]:
dit

{'name': 'Pritesh',
 'surname': 'Dhole',
 'email': 'priteshdhole123@gmail.com',
 'age': 23}

# 4

In [25]:
dit={'name':'Pritesh' , 'surname':'Dhole' , 'age':23, 'email':"priteshdhole123@gmail.com"}
dit

{'name': 'Pritesh',
 'surname': 'Dhole',
 'age': 23,
 'email': 'priteshdhole123@gmail.com'}

In [26]:
dit.values()

dict_values(['Pritesh', 'Dhole', 23, 'priteshdhole123@gmail.com'])

# 5

In [27]:
dit.popitem()

('email', 'priteshdhole123@gmail.com')

In [28]:
dit.popitem

In [29]:
dit

{'name': 'Pritesh', 'surname': 'Dhole', 'age': 23}

# 6

In [30]:
dit.items()

dict_items([('name', 'Pritesh'), ('surname', 'Dhole'), ('age', 23)])